RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirects
Redirect /live https://www.facebook.com/CHFCAlbany/
Redirect /visit https://www.cityharvestalbany.com/map-and-directions
Redirect /contact https://www.cityharvestalbany.com/contact
Redirect /give https://cityharvest.churchcenter.com/giving
Redirect /giving https://cityharvest.churchcenter.com/giving
Redirect /optin https://cityharvest.churchcenter.com/people/forms/854855
Redirect /GIVE https://cityharvest.churchcenter.com/giving
Redirect /listen https://www.cityharvestalbany.com/sermons/
Redirect /apple https://geo.itunes.apple.com/us/app/my-church-center/id1357742931?ls=1&mt=8
Redirect /android https://play.google.com/store/apps/details?id=com.ministrycentered.churchcenter
Redirect /eventRequestForm https://cityharvest.churchcenter.com/people/forms/222428
Redirect /oasis https://www.cityharvestalbany.com/oasis
Redirect /2025teamUp https://cityharvest.churchcenter.com/people/forms/94429
Redirect /wordforyou https://app.wordforyou.com/churches/access-code/QYC/register
Redirect /funeral https://www.cityharvestalbany.com/20250426-funeralservice/
Redirect /handout/whbbogdns/1 https://www.cityharvestalbany.com/wp-content/uploads/Part-One-Introduction.pdf
Redirect /handout/whbbogdns/2 https://www.cityharvestalbany.com/wp-content/uploads/Part-Two-Righteous-and-Holy.pdf
Redirect /handout/whbbogdns/3 https://www.cityharvestalbany.com/wp-content/uploads/Part-Three-He-Who-Sins-is-of-the-Devil.pdf

ErrorDocument 403 https://www.chfc.me/
ErrorDocument 404 https://www.chfc.me/
